{% extends 'base.html' %}

{% block content %}

<h1>Welcome to the home page, {{ name }}</h1>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Search for movie</label>
        <input name="searchMovie" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter movie">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<p>Searching for {{ searchTerm }} </p>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for movie in movies %}
    <div v-for="movie in movies" class="col">
        <div class="card">
            <img class="class-img-top" src="{{ movie.image.url }}" alt="movie image" style="height: 200px; width: 150px;">
            <div class="card-body">
                <a href="{% url 'detail' movie.id %}">
                    <h5 class="card-title fw-bold">{{ movie.title }}</h5>
                </a>
                <p class="card-text">{{ movie.description }}</p>
                {% if movie.url %}
                    <a class="btn btn-primary" href="{{ movie.url }}" target="_blank">Movie Link</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<br />
<br />

<h3> Join out mailing list </h3>
<form action="{% url 'signup' %}">
    <div class="mb-3">
        <label class="form-label" for="email">Eneter email</label>
        <input type="email" placeholder="enter-email" name="email" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary">Get Started</button>
</form>


{% endblock content %}